*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #5151FE;
}

main{
    background: #ffff;
    max-width: 1350px;
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(52, 52, 255, 0.856), #371857, #140114 );
}

h1{
    text-align: center;
    color: #ffff;
}

h2{
    margin-bottom: 40px;
    font-size: 36px;
    background-image:linear-gradient(to right, rgb(97, 29, 161), transparent);
    font-weight: normal;
    color: #ffff;
}

h3{
    margin-bottom: 10px;
    color: red;
}

h4{
    font-size: 30px;
    margin-left: 17px;
    color: rgb(81, 231, 36);
    padding: 10px 0;
    margin-top: -30px;
    margin-bottom: 20px;
    border-radius: 7px;
}

p{
    font-size: 25px;
    line-height: 35px;
}

.link1{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 207px;
    border-radius: 7px;
    margin: 19px 0;
}

.link2{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 207px;
    border-radius: 7px;
    margin: 19px 0;
}


#link{
    background: orange;
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 207px;
    border-radius: 7px;
    margin: 19px 0;
}

#link1{
    background: orange;
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 108px;
    border-radius: 7px;
    margin: 15px 0;
}

#link2{
    background: orange;
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 50px;
    width: 120px;
    border-radius: 7px;
    margin: 15px 0;
}

#link3{
    background: orange;
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 150px;
    border-radius: 7px;
    margin: 15px 0;
}

#link4{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 150px;
    border-radius: 7px;
    margin: 15px 0;
}

#link5{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 150px;
    border-radius: 7px;
    margin: 15px 0;
}

#link6{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 150px;
    border-radius: 7px;
    margin: 19px 0;
}

#link7{
    background: rgb(74, 231, 152);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: px;
    width: 150px;
    border-radius: 7px;
    margin: 15px 0;
}

.link4{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 120px;
    width: 207px;
    border-radius: 7px;
}

.link5{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 40px;
    width: 207px;
    border-radius: 7px;
}

.link6{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 90px;
    width: 207px;
    border-radius: 7px;
}

.link7{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 85px;
    width: 207px;
    border-radius: 7px;
}

.link8{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 185px;
    width: 207px;
    border-radius: 7px;
}

.link9{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 185px;
    width: 207px;
    border-radius: 7px;
}

.link10{
    background: rgb(53, 233, 134);
    padding: 10px;
    color: #ffff;
    font-weight: 700;
    display: block;
    margin-top: 185px;
    width: 207px;
    border-radius: 7px;
}

section{
    background: #ffff;
    margin: 10px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    height: 600px;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 1px 10px black;
}

article{
    padding-left: 20px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.tema{
    height: 400px;
}

.canva{
    height:300px;
    background: #ffff;
    padding: 15px;
}

.caixinha{
    height: 400px;
}

.personagem{
    height: 600px;
}

.kit{
    height: 320px;
}

.celular{
    height: 340px;
}

.apostilas{
    height: 500px;
}

.convites{
    height: 500px;
}

.canva-vitalicio{
    height: 500px;
}

.texto{
    width: 600px;
}

@media (max-width: 720px){
    section{
        background: #ffff;
        margin: 10px 10px 40px 10px;
        display: flex;
        flex-direction: column;
        overflow: visible;
        min-height: 700px;
        height: auto;
        padding: 10px;
        border-radius: 8px;
    }

    
    article{
    padding-left: 0px;
    text-align: center;
    }

    p{
        font-size: 24px;
        line-height: 24px;
    }

    h3{
        margin-top: -20px;
    }

    .texto0{
        line-height: 35px;
    }

    .texto{
        width: 320px;
        height: 200px;
    }

    .texto1{
        font-size: 26px;
    }

    .texto3{
        margin-top: 30px;
        line-height: 35px;
    }

    .texto4{
        line-height: 35px;
    }

    .texto5{
        line-height: 35px;
    }

    h2{
        background-image: none;
        background: rgb(17, 76, 163);
        font-weight: 700;
        margin-top: 10px;
        border-radius: 8px;
        font-size: 25px;

    }

    .caixinha{
        height: auto;
    }
    
    .personagem{
        height: auto;
    }

    .kit{
        height: auto;
    }

    .celular{
        height: auto;
    }

    .pacote{
        height: auto;
    }

    .link1{
        margin-top: 80px;
        box-sizing: border-box;
        margin: 65px 0;
        width: 100%;
    }

    .link2{
        margin-top: 30px;
        width: 100%;
    }

    .link5{
        margin-top: 50px;
        width: 100%;
    }

    .link6{
        width: 100%;
        margin-bottom: 30px;
    }

    .link7{
        width: 100%;
        margin-top: 20px;
    }

    .caixa1{
        display:flex ;
        flex-direction: row;
    }

    .caixa2{
        display:flex ;
        flex-direction: row;
    }
    #link{
        background: orange;
        padding:1px;
        color: #ffff;
        font-weight: 700;
        display: block;
        width: 220px;
        margin-bottom:-10px ;
    }

    .personagem1{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .personagem2{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

}